* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}

p {
    font-size: 20px;
}

main {
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

img {
    width: 30%;
}

a {
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}

button#entrar {
    background-color: hsl(229, 100%, 50%);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button#entrar:hover {
    background-color: #00027e;
}

button#conta {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button#conta:hover {
    background-color: #005a14;
}

input[type="text"], input[type="email"], textarea, select {
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

footer {
    background-color: hwb(0 100% 0%);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 0;
    position: relative;
}

