* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
}

header { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    max-width: 1100px;
    width: 100%; 
    margin: 0 auto; 
    
}

.logo_header img {
    width: 250px;
    height: 180px;
}

.botoes_header button {
    text-align: center;
    width: 200px;
    display: flex;
    font-size: 16px;
    border-radius: 8.89px;
    cursor: pointer;
    margin: 10px;
    padding: 5px;
}

.botoes_header .login button{
    text-align: center;
    background-color: #003079;
    color: #fff;
    border: none;
    margin: 10px;
}

.botoes_header .login:hover button{
        background-color: #0056b3;
        color: #FFE500;
        
    }

.botoes_header .cadastro button{
        background-color: #ffffff;
        color: #003079;
        border: 3px solid #003079;
        max-height: 40px;
        margin: 10px;
    }

.botoes_header .cadastro:hover button{
        
    background-color: #0056b3;
    color: #FFE500;
    
}

.icon_banner img {
    display: block;
    height: 180px;
    width: 1100px;
}   

/* BANNER */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    background-color: #003079;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 10px;
    padding: 10px;
}

.menu_inferior {
    text-decoration: none;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1em;
}

nav ul li a {
    
    
}

a {
    color: #003079;
    text-decoration: none;
    font-size: 16px;
}

main {
    padding: 2em;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    width: 100%;
    text-align: center;
}


footer {
    background-color: #003079;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    height: 100px;
}