/* Reset Básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
}

/* Estilo para BODY */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* HEADER */
header { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    max-width: 1100px;
    width: 100%; 
    background-color: #ffffff;
    margin: 0 auto; 
    
}

.logo_header img {
    width: 250px;
    height: 180px;
}

header nav {
    display: flex;
    width: 30%;
}

header a {
    color: #003079;
    text-decoration: none;
    font-size: 22px;
}

/* Botões do Header */
.botoes_header {
    display: flex;
}

.botoes_header .login,
.botoes_header .cadastre_se {
    font-size: 20px;
    border-radius: 8.89px;
    cursor: pointer;
    margin: 20PX;
}

.botoes_header .login {
    background-color: #003079;
    color: #fff;
    border: none;
    margin: 10px;
}

.botoes_header .login:hover {
    background-color: #0056b3;
    color: #FFE500;
    
}

.botoes_header .cadastre_se {
    background-color: #ffffff;
    color: #003079;
    border: 3px solid #003079;
    max-height: 40px;
    margin: 10px;
}

/* BANNER */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    background-color: #003079;
}

.icon_banner img {
    display: block;
    height: 180px;
    width: 1100px;
}

.texto_banner {
    position: absolute;
    top: 53%;
    left: 65%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.texto_banner h1 {
    font-size: 44px;
    margin-bottom: -15px;
}

.texto_banner h2 {
    font-size: 90px;
}

/* MAIN */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    width: 100%;
}

.container_main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    max-width: 1100px;
    background-color: #eee;
}

.container_footer {
    
    background-color: #003079;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    
    
    
}